In [1]:
import pandas as pd

countries = pd.read_csv('countries.csv')
income = pd.read_excel('income.xlsx')

In [2]:
countries

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [3]:
income.head()

,GDP per capita,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,667.0,667.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
4,Algeria,716.0,716.0,717.0,718.0,719.0,720.0,721.0,722.0,723.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0

In [4]:
income.columns

Index(['GDP per capita',             1800,             1801,             1802,
                   1803,             1804,             1805,             1806,
                   1807,             1808,
       ...
                   2006,             2007,             2008,             2009,
                   2010,             2011,             2012,             2013,
                   2014,             2015],
      dtype='object', length=217)

In [5]:
income.columns[0]

'GDP per capita'

In [6]:
income.index

RangeIndex(start=0, stop=262, step=1)

In [7]:
income.columns

Index(['GDP per capita',             1800,             1801,             1802,
                   1803,             1804,             1805,             1806,
                   1807,             1808,
       ...
                   2006,             2007,             2008,             2009,
                   2010,             2011,             2012,             2013,
                   2014,             2015],
      dtype='object', length=217)

In [8]:
income.index = index[income.columns[0]]

NameError: name 'index' is not defined

In [9]:
income.index = income[income.columns[0]]

In [10]:
income.index

Index([             'Abkhazia',           'Afghanistan',
       'Akrotiri and Dhekelia',               'Albania',
                     'Algeria',        'American Samoa',
                     'Andorra',                'Angola',
                    'Anguilla',   'Antigua and Barbuda',
       ...
        'North Yemen (former)',  'South Yemen (former)',
                       'Yemen',            'Yugoslavia',
                      'Zambia',              'Zimbabwe',
                       'Åland',           'South Sudan',
                           nan,                     nan],
      dtype='object', name='GDP per capita', length=262)

In [11]:
income.columns

Index(['GDP per capita',             1800,             1801,             1802,
                   1803,             1804,             1805,             1806,
                   1807,             1808,
       ...
                   2006,             2007,             2008,             2009,
                   2010,             2011,             2012,             2013,
                   2014,             2015],
      dtype='object', length=217)

In [12]:
income.columns[0]

'GDP per capita'

In [13]:
income.head

<bound method NDFrame.head of                                     GDP per capita    1800    1801    1802  \
GDP per capita
Abkhazia                                  Abkhazia     NaN     NaN     NaN
Afghanistan                            Afghanistan   603.0   603.0   603.0
Akrotiri and Dhekelia        Akrotiri and Dhekelia     NaN     NaN     NaN
Albania                                    Albania   667.0   667.0   668.0
Algeria                                    Algeria   716.0   716.0   717.0
American Samoa                      American Samoa     NaN     NaN     NaN
Andorra                                    Andorra  1197.0  1199.0  1201.0
Angola                                      Angola   618.0   620.0   623.0
Anguilla                                  Anguilla     NaN     NaN     NaN
Antigua and Barbuda            Antigua and Barbuda   757.0   757.0   757.0
Argentina                                Argentina  1507.0  1508.0  1508.0
Armenia                                    Armenia   514.0   514.0   514.0
Aruba                                        Aruba   833.0   833.0   833.0
Australia                                Australia   815.0   816.0   818.0
Austria                                    Austria  1848.0  1855.0  1863.0
Azerbaijan                              Azerbaijan   775.0   775.0   775.0
Bahamas                                    Bahamas  1445.0  1445.0  1445.0
Bahrain                                    Bahrain  1235.0  1240.0  1246.0
Bangladesh                              Bangladesh   876.0   876.0   876.0
Barbados                                  Barbados   913.0   914.0   914.0
Belarus                                    Belarus   608.0   608.0   608.0
Belgium                                    Belgium  2412.0  2413.0  2413.0
Belize                                      Belize   579.0   579.0   579.0
Benin                                        Benin   597.0   597.0   597.0
Bermuda                                    Bermuda  1227.0  1227.0  1228.0
Bhutan                                      Bhutan   629.0   629.0   630.0
Bolivia                                    Bolivia   854.0   854.0   854.0
Bosnia and Herzegovina      Bosnia and Herzegovina   669.0   669.0   669.0
Botswana                                  Botswana   397.0   397.0   397.0
Brazil                                      Brazil  1109.0  1109.0  1109.0
...                                            ...     ...     ...     ...
Turkey                                      Turkey  1221.0  1221.0  1222.0
Turkmenistan                          Turkmenistan   943.0   944.0   945.0
Turks and Caicos Islands  Turks and Caicos Islands   487.0   487.0   487.0
Tuvalu                                      Tuvalu   719.0   719.0   719.0
Uganda                                      Uganda   464.0   464.0   464.0
Ukraine                                    Ukraine   763.0   764.0   765.0
United Arab Emirates          United Arab Emirates   998.0  1001.0  1005.0
United Kingdom                      United Kingdom  3431.0  3439.0  3450.0
United States                        United States  2128.0  2168.0  2203.0
Uruguay                                    Uruguay  1758.0  1758.0  1758.0
USSR                                          USSR     NaN     NaN     NaN
Uzbekistan                              Uzbekistan   502.0   502.0   502.0
Wallis et Futuna                  Wallis et Futuna     NaN     NaN     NaN
Vanuatu                                    Vanuatu   585.0   586.0   586.0
Venezuela                                Venezuela   682.0   682.0   682.0
West Bank and Gaza              West Bank and Gaza  1220.0  1221.0  1221.0
West Germany                          West Germany     NaN     NaN     NaN
Western Sahara                      Western Sahara     NaN     NaN     NaN
Vietnam                                    Vietnam   861.0   861.0   861.0
Virgin Islands (U.S.)        Virgin Islands (U.S.)     NaN     NaN     NaN
North Yemen (former)          North Yemen (former)     NaN     NaN     NaN
South Yemen (former)          South Yemen (former)     NaN     NaN     NaN
Yemen                                        Yemen   877.0   879.0   882.0
Yugoslavia                              Yugoslavia     NaN     NaN     NaN
Zambia                                      Zambia   663.0   665.0   667.0
Zimbabwe                                  Zimbabwe   869.0   870.0   871.0
Åland                                        Åland     NaN     NaN     NaN
South Sudan                            South Sudan   507.0   507.0   507.0
NaN                                            NaN     NaN     NaN     NaN
NaN                                            NaN     NaN     NaN     NaN

                            1803    1804    1805    1806    1807    1808  \
GDP per capita
Abkhazia                     NaN     NaN     NaN     NaN     NaN     NaN
Afghanistan                603.0   603.0   603.0   603.0   603.0   603.0
Akrotiri and Dhekelia        NaN     NaN     NaN     NaN     NaN     NaN
Albania                    668.0   668.0   668.0   668.0   668.0   668.0
Algeria                    718.0   719.0   720.0   721.0   722.0   723.0
American Samoa               NaN     NaN     NaN     NaN     NaN     NaN
Andorra                   1204.0  1206.0  1208.0  1210.0  1212.0  1215.0
Angola                     626.0   628.0   631.0   634.0   637.0   640.0
Anguilla                     NaN     NaN     NaN     NaN     NaN     NaN
Antigua and Barbuda        757.0   757.0   757.0   757.0   758.0   758.0
Argentina                 1508.0  1508.0  1508.0  1509.0  1509.0  1509.0
Armenia                    514.0   514.0   514.0   514.0   514.0   514.0
Aruba                      833.0   833.0   833.0   833.0   834.0   834.0
Australia                  820.0   822.0   824.0   826.0   828.0   830.0
Austria                   1870.0  1878.0  1885.0  1893.0  1901.0  1908.0
Azerbaijan                 775.0   775.0   776.0   776.0   776.0   776.0
Bahamas                   1446.0  1446.0  1446.0  1446.0  1447.0  1447.0
Bahrain                   1251.0  1256.0  1262.0  1267.0  1273.0  1278.0
Bangladesh                 876.0   876.0   876.0   876.0   876.0   876.0
Barbados                   914.0   914.0   914.0   914.0   914.0   915.0
Belarus                    609.0   609.0   609.0   610.0   610.0   610.0
Belgium                   2413.0  2414.0  2414.0  2414.0  2415.0  2415.0
Belize                     579.0   579.0   579.0   579.0   579.0   579.0
Benin                      597.0   597.0   597.0   597.0   597.0   597.0
Bermuda                   1228.0  1228.0  1228.0  1228.0  1229.0  1229.0
Bhutan                     630.0   630.0   630.0   630.0   630.0   630.0
Bolivia                    854.0   854.0   854.0   854.0   854.0   855.0
Bosnia and Herzegovina     669.0   669.0   669.0   669.0   669.0   669.0
Botswana                   397.0   397.0   398.0   398.0   398.0   398.0
Brazil                    1109.0  1109.0  1110.0  1110.0  1110.0  1110.0
...                          ...     ...     ...     ...     ...     ...
Turkey                    1222.0  1222.0  1222.0  1222.0  1222.0  1223.0
Turkmenistan               946.0   947.0   948.0   950.0   951.0   952.0
Turks and Caicos Islands   487.0   487.0   487.0   487.0   487.0   487.0
Tuvalu                     719.0   719.0   719.0   719.0   719.0   719.0
Uganda                     464.0   464.0   464.0   464.0   464.0   464.0
Ukraine                    766.0   767.0   767.0   768.0   769.0   770.0
United Arab Emirates      1009.0  1013.0  1016.0  1020.0  1024.0  1028.0
United Kingdom            3339.0  3291.0  3439.0  3377.0  3549.0  3340.0
United States             2167.0  2166.0  2211.0  2252.0  2274.0  2115.0
Uruguay                   1759.0  1759.0  1759.0  1759.0  1760.0  1760.0
USSR                         NaN     NaN     NaN     NaN     NaN     NaN
Uzbekistan                 502.0   503.0   503.0   503.0   503.0   503.0
Wallis et Futuna             NaN     NaN     NaN     NaN     NaN     NaN
Vanuatu                    586.0   586.0   586.0   586.0   586.0   586.0
Venezuela                  682.0   682.0   682.0   683.0   683.0   683.0
West Bank and Gaza        1221.0  1221.0  1221.0  1222.0  1222.0  1222.0
West Germany                 NaN     NaN     NaN     NaN     NaN     NaN
Western Sahara               NaN     NaN     NaN     NaN     NaN     NaN
Vietnam                    861.0   861.0   862.0   862.0   862.0   862.0
Virgin Islands (U.S.)        NaN     NaN     NaN     NaN     NaN     NaN
North Yemen (former)         NaN     NaN     NaN     NaN     NaN     NaN
South Yemen (former)         NaN     NaN     NaN     NaN     NaN     NaN
Yemen                      884.0   887.0   889.0   892.0   894.0   897.0
Yugoslavia                   NaN     NaN     NaN     NaN     NaN     NaN
Zambia                     668.0   670.0   671.0   673.0   675.0   676.0
Zimbabwe                   872.0   873.0   874.0   875.0   876.0   877.0
Åland                        NaN     NaN     NaN     NaN     NaN     NaN
South Sudan                507.0   508.0   508.0   508.0   508.0   508.0
NaN                          NaN     NaN     NaN     NaN     NaN     NaN
NaN                          NaN     NaN     NaN     NaN     NaN     NaN

                           ...        2006     2007     2008     2009  \
GDP per capita             ...
Abkhazia                   ...         NaN      NaN      NaN      NaN
Afghanistan                ...      1173.0   1298.0   1311.0   1548.0
Akrotiri and Dhekelia      ...         NaN      NaN      NaN      NaN
Albania                    ...      7476.0   7977.0   8644.0   8994.0
Algeria                    ...     12088.0  12289.0  12314.0  12285.0
American Samoa             ...         NaN      NaN      NaN      NaN
Andorra                    ...     42738.0  43442.0  41426.0  41735.0
Angola                     ...      5445.0   6453.0   7103.0   7039.0
Anguilla                   ...         NaN      NaN      NaN      NaN
Antigua and Barbuda        ...     24016.0  26008.0  25736.0  22389.0
Argentina                  ...     12913.0  13873.0  14646.0  14605.0
Armenia                    ...      6020.0   6877.0   7383.0   6358.0
Aruba                      ...     40209.0  40558.0  38594.0  35573.0
Australia                  ...     39416.0  40643.0  41312.0  41170.0
Austria                    ...     42036.0  43418.0  43952.0  42171.0
Azerbaijan                 ...     10711.0  13243.0  14365.0  15394.0
Bahamas                    ...     25530.0  25412.0  24373.0  22950.0
Bahrain                    ...     43358.0  43251.0  42507.0  40825.0
Bangladesh                 ...      2038.0   2158.0   2265.0   2355.0
Barbados                   ...     15913.0  16099.0  16075.0  15334.0
Belarus                    ...     12010.0  13103.0  14488.0  14549.0
Belgium                    ...     40661.0  41575.0  41641.0  40225.0
Belize                     ...      8360.0   8240.0   8293.0   8145.0
Benin                      ...      1592.0   1616.0   1646.0   1641.0
Bermuda                    ...     58785.0  60117.0  60676.0  57152.0
Bhutan                     ...      4767.0   5507.0   5663.0   5934.0
Bolivia                    ...      4716.0   4850.0   5066.0   5152.0
Bosnia and Herzegovina     ...      8242.0   8820.0   9316.0   9063.0
Botswana                   ...     12241.0  13170.0  13858.0  12680.0
Brazil                     ...     12732.0  13364.0  13906.0  13749.0
...                        ...         ...      ...      ...      ...
Turkey                     ...     16013.0  16551.0  16454.0  15467.0
Turkmenistan               ...      7137.0   7834.0   8877.0   9303.0
Turks and Caicos Islands   ...     20690.0  21458.0  22431.0  19240.0
Tuvalu                     ...      3048.0   3230.0   3480.0   3319.0
Uganda                     ...      1304.0   1367.0   1437.0   1490.0
Ukraine                    ...      7848.0   8519.0   8762.0   7498.0
United Arab Emirates       ...     95637.0  82993.0  73029.0  60955.0
United Kingdom             ...     37504.0  38164.0  37739.0  35840.0
United States              ...     50599.0  51011.0  50384.0  48558.0
Uruguay                    ...     13489.0  14336.0  15317.0  15912.0
USSR                       ...         NaN      NaN      NaN      NaN
Uzbekistan                 ...      3211.0   3467.0   3733.0   3968.0
Wallis et Futuna           ...         NaN      NaN      NaN      NaN
Vanuatu                    ...      2761.0   2833.0   2944.0   2970.0
Venezuela                  ...     16178.0  17298.0  17911.0  17056.0
West Bank and Gaza         ...      4193.0   4015.0   3564.0   4187.0
West Germany               ...         NaN      NaN      NaN      NaN
Western Sahara             ...         NaN      NaN      NaN      NaN
Vietnam                    ...      3687.0   3907.0   4085.0   4260.0
Virgin Islands (U.S.)      ...         NaN      NaN      NaN      NaN
North Yemen (former)       ...         NaN      NaN      NaN      NaN
South Yemen (former)       ...         NaN      NaN      NaN      NaN
Yemen                      ...      4320.0   4354.0   4420.0   4494.0
Yugoslavia                 ...         NaN      NaN      NaN      NaN
Zambia                     ...      2752.0   2901.0   3039.0   3224.0
Zimbabwe                   ...      1629.0   1568.0   1286.0   1352.0
Åland                      ...         NaN      NaN      NaN      NaN
South Sudan                ...      3455.0   3756.0   3776.0   3799.0
NaN                        ...         NaN      NaN      NaN      NaN
NaN                        ...         NaN      NaN      NaN      NaN

                             2010     2011     2012     2013     2014     2015
GDP per capita
Abkhazia                      NaN      NaN      NaN      NaN      NaN      NaN
Afghanistan                1637.0   1695.0   1893.0   1884.0   1877.0   1925.0
Akrotiri and Dhekelia         NaN      NaN      NaN      NaN      NaN      NaN
Albania                    9374.0   9640.0   9811.0   9961.0  10160.0  10620.0
Algeria                   12494.0  12606.0  12779.0  12893.0  13179.0  13434.0
American Samoa                NaN      NaN      NaN      NaN      NaN      NaN
Andorra                   38982.0  41958.0  41926.0  43735.0  44929.0  46577.0
Angola                     7047.0   7094.0   7230.0   7488.0   7546.0   7615.0
Anguilla                      NaN      NaN      NaN      NaN      NaN      NaN
Antigua and Barbuda       20567.0  19988.0  20577.0  20353.0  20797.0  21049.0
Argentina                 15765.0  16972.0  17101.0  17629.0  17519.0  17344.0
Armenia                    6508.0   6812.0   7291.0   7527.0   7763.0   7763.0
Aruba                     33288.0  36016.0  35419.0  36083.0  36447.0  37138.0
Australia                 41330.0  41706.0  42522.0  42840.0  43219.0  44056.0
Austria                   42861.0  44029.0  44216.0  44059.0  43906.0  44401.0
Azerbaijan                15950.0  15754.0  15888.0  16593.0  16710.0  16986.0
Bahamas                   22915.0  22689.0  22841.0  22518.0  22439.0  22818.0
Bahrain                   40553.0  40083.0  40732.0  42444.0  43963.0  44138.0
Bangladesh                 2459.0   2589.0   2725.0   2853.0   2991.0   3161.0
Barbados                  15297.0  15336.0  15261.0  12867.0  12829.0  12984.0
Belarus                   15703.0  16603.0  16907.0  17085.0  17349.0  17415.0
Belgium                   40764.0  40946.0  40687.0  40607.0  40885.0  41240.0
Belize                     8209.0   8178.0   8287.0   8215.0   8418.0   8501.0
Benin                      1637.0   1643.0   1685.0   1733.0   1779.0   1830.0
Bermuda                   56395.0  54985.0  52137.0  50669.0  48728.0  47081.0
Bhutan                     6516.0   6909.0   7138.0   7167.0   7500.0   7983.0
Bolivia                    5279.0   5462.0   5650.0   5934.0   6153.0   6295.0
Bosnia and Herzegovina     9145.0   9248.0   9149.0   9387.0   9516.0   9833.0
Botswana                  13642.0  14341.0  14905.0  16155.0  16725.0  17196.0
Brazil                    14660.0  15101.0  15234.0  15518.0  15412.0  15441.0
...                           ...      ...      ...      ...      ...      ...
Turkey                    16674.0  17908.0  18057.0  18579.0  18884.0  19360.0
Turkmenistan              10032.0  11361.0  12460.0  13555.0  14762.0  15865.0
Turks and Caicos Islands  20095.0  20878.0  20292.0  20278.0  20107.0  20068.0
Tuvalu                     3222.0   3488.0   3489.0   3528.0   3548.0   3622.0
Uganda                     1515.0   1607.0   1622.0   1621.0   1638.0   1680.0
Ukraine                    7844.0   8282.0   8319.0   8338.0   8267.0   8449.0
United Arab Emirates      56644.0  56192.0  57028.0  59092.0  60578.0  60749.0
United Kingdom            36240.0  36549.0  36535.0  36908.0  37614.0  38225.0
United States             49373.0  49781.0  50549.0  51282.0  52118.0  53354.0
Uruguay                   17095.0  17916.0  18447.0  19321.0  19929.0  20438.0
USSR                          NaN      NaN      NaN      NaN      NaN      NaN
Uzbekistan                 4185.0   4412.0   4705.0   5002.0   5320.0   5598.0
Wallis et Futuna              NaN      NaN      NaN      NaN      NaN      NaN
Vanuatu                    2948.0   2916.0   2902.0   2895.0   2837.0   2912.0
Venezuela                 16536.0  16960.0  17642.0  17614.0  16666.0  15753.0
West Bank and Gaza         4163.0   4359.0   4842.0   4498.0   4493.0   4319.0
West Germany                  NaN      NaN      NaN      NaN      NaN      NaN
Western Sahara                NaN      NaN      NaN      NaN      NaN      NaN
Vietnam                    4486.0   4717.0   4912.0   5125.0   5370.0   5623.0
Virgin Islands (U.S.)         NaN      NaN      NaN      NaN      NaN      NaN
North Yemen (former)          NaN      NaN      NaN      NaN      NaN      NaN
South Yemen (former)          NaN      NaN      NaN      NaN      NaN      NaN
Yemen                      4534.0   3761.0   3765.0   3832.0   3866.0   3887.0
Yugoslavia                    NaN      NaN      NaN      NaN      NaN      NaN
Zambia                     3451.0   3557.0   3678.0   3800.0   3898.0   4034.0
Zimbabwe                   1484.0   1626.0   1750.0   1773.0   1773.0   1801.0
Åland                         NaN      NaN      NaN      NaN      NaN      NaN
South Sudan                3838.0   3505.0   1810.0   1965.0   2574.0   3047.0
NaN                           NaN      NaN      NaN      NaN      NaN      NaN
NaN                           NaN  36327.0      NaN      NaN      NaN      NaN

[262 rows x 217 columns]>

In [14]:
income.head(5)

,GDP per capita,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
GDP per capita,,,,,,,,,,,,,,,,,,,,,
Abkhazia,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,Afghanistan,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
Akrotiri and Dhekelia,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,Albania,667.0,667.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
Algeria,Algeria,716.0,716.0,717.0,718.0,719.0,720.0,721.0,722.0,723.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0

In [15]:
income = income.drop(income.columns[0], axis=1)

In [16]:
income.head(5)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
GDP per capita,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,667.0,667.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
Algeria,716.0,716.0,717.0,718.0,719.0,720.0,721.0,722.0,723.0,724.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0

In [17]:
income.columns = map(lambda x: int(x), income.columns)

In [18]:
income.head(5)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
GDP per capita,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,603.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,667.0,667.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,668.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
Algeria,716.0,716.0,717.0,718.0,719.0,720.0,721.0,722.0,723.0,724.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0

In [19]:
income.transpose()

GDP per capita,Abkhazia,Afghanistan,Akrotiri and Dhekelia,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,North Yemen (former),South Yemen (former),Yemen,Yugoslavia,Zambia,Zimbabwe,Åland,South Sudan,nan,nan
1800,NaN,603.0,NaN,667.0,716.0,NaN,1197.0,618.0,NaN,757.0,...,NaN,NaN,877.0,NaN,663.0,869.0,NaN,507.0,NaN,NaN
1801,NaN,603.0,NaN,667.0,716.0,NaN,1199.0,620.0,NaN,757.0,...,NaN,NaN,879.0,NaN,665.0,870.0,NaN,507.0,NaN,NaN
1802,NaN,603.0,NaN,668.0,717.0,NaN,1201.0,623.0,NaN,757.0,...,NaN,NaN,882.0,NaN,667.0,871.0,NaN,507.0,NaN,NaN
1803,NaN,603.0,NaN,668.0,718.0,NaN,1204.0,626.0,NaN,757.0,...,NaN,NaN,884.0,NaN,668.0,872.0,NaN,507.0,NaN,NaN
1804,NaN,603.0,NaN,668.0,719.0,NaN,1206.0,628.0,NaN,757.0,...,NaN,NaN,887.0,NaN,670.0,873.0,NaN,508.0,NaN,NaN
1805,NaN,603.0,NaN,668.0,720.0,NaN,1208.0,631.0,NaN,757.0,...,NaN,NaN,889.0,NaN,671.0,874.0,NaN,508.0,NaN,NaN
1806,NaN,603.0,NaN,668.0,721.0,NaN,1210.0,634.0,NaN,757.0,...,NaN,NaN,892.0,NaN,673.0,875.0,NaN,508.0,NaN,NaN
1807,NaN,603.0,NaN,668.0,722.0,NaN,1212.0,637.0,NaN,758.0,...,NaN,NaN,894.0,NaN,675.0,876.0,NaN,508.0,NaN,NaN
1808,NaN,603.0,NaN,668.0,723.0,NaN,1215.0,640.0,NaN,758.0,...,NaN,NaN,897.0,NaN,676.0,877.0,NaN,508.0,NaN,NaN
1809,NaN,603.0,NaN,668.0,724.0,NaN,1217.0,642.0,NaN,758.0,...,NaN,NaN,899.0,NaN,678.0,878.0,NaN,508.0,NaN,NaN
1810,NaN,604.0,NaN,668.0,725.0,NaN,1219.0,645.0,NaN,758.0,...,NaN,NaN,902.0,NaN,680.0,879.0,NaN,508.0,NaN,NaN
1811,NaN,604.0,NaN,668.0,726.0,NaN,1221.0,648.0,NaN,758.0,...,NaN,NaN,905.0,NaN,681.0,880.0,NaN,508.0,NaN,NaN
1812,NaN,604.0,NaN,669.0,727.0,NaN,1224.0,651.0,NaN,758.0,...,NaN,NaN,907.0,NaN,683.0,881.0,NaN,508.0,NaN,NaN
1813,NaN,604.0,NaN,669.0,728.0,NaN,1226.0,654.0,NaN,758.0,...,NaN,NaN,910.0,NaN,684.0,883.0,NaN,508.0,NaN,NaN
1814,NaN,604.0,NaN,669.0,729.0,NaN,1228.0,657.0,NaN,758.0,...,NaN,NaN,912.0,NaN,686.0,884.0,NaN,508.0,NaN,NaN
1815,NaN,604.0,NaN,669.0,730.0,NaN,1230.0,660.0,NaN,758.0,...,NaN,NaN,915.0,NaN,688.0,885.0,NaN,508.0,NaN,NaN
1816,NaN,604.0,NaN,669.0,731.0,NaN,1233.0,662.0,NaN,759.0,...,NaN,NaN,917.0,NaN,689.0,886.0,NaN,508.0,NaN,NaN
1817,NaN,604.0,NaN,669.0,732.0,NaN,1235.0,665.0,NaN,759.0,...,NaN,NaN,920.0,NaN,691.0,887.0,NaN,509.0,NaN,NaN
1818,NaN,604.0,NaN,669.0,733.0,NaN,1237.0,668.0,NaN,759.0,...,NaN,NaN,923.0,NaN,693.0,888.0,NaN,509.0,NaN,NaN
1819,NaN,604.0,NaN,669.0,734.0,NaN,1239.0,671.0,NaN,759.0,...,NaN,NaN,925.0,NaN,694.0,889.0,NaN,509.0,NaN,NaN
1820,NaN,604.0,NaN,669.0,735.0,NaN,1242.0,674.0,NaN,759.0,...,NaN,NaN,928.0,NaN,696.0,890.0,NaN,509.0,NaN,NaN
1821,NaN,607.0,NaN,671.0,743.0,NaN,1256.0,677.0,NaN,764.0,...,NaN,NaN,931.0,NaN,698.0,891.0,NaN,511.0,NaN,NaN
1822,NaN,609.0,NaN,672.0,751.0,NaN,1271.0,680.0,NaN,769.0,...,NaN,NaN,933.0,NaN,700.0,892.0,NaN,514.0,NaN,NaN
1823,NaN,611.0,NaN,674.0,759.0,NaN,1286.0,683.0,NaN,775.0,...,NaN,NaN,936.0,NaN,701.0,893.0,NaN,516.0,NaN,NaN
1824,NaN,613.0,NaN,676.0,768.0,NaN,1302.0,686.0,NaN,780.0,...,NaN,NaN,938.0,NaN,703.0,894.0,NaN,519.0,NaN,NaN
1825,NaN,615.0,NaN,677.0,776.0,NaN,1317.0,689.0,NaN,785.0,...,NaN,NaN,941.0,NaN,705.0,895.0,NaN,521.0,NaN,NaN
1826,NaN,617.0,NaN,679.0,784.0,NaN,1333.0,692.0,NaN,790.0,...,NaN,NaN,944.0,NaN,706.0,896.0,NaN,524.0,NaN,NaN
1827,NaN,619.0,NaN,680.0,793.0,NaN,1349.0,695.0,NaN,796.0,...,NaN,NaN,947.0,NaN,708.0,898.0,NaN,526.0,NaN,NaN
1828,NaN,621.0,NaN,682.0,802.0,NaN,1365.0,698.0,NaN,801.0,...,NaN,NaN,949.0,NaN,710.0,899.0,NaN,529.0,NaN,NaN
1829,NaN,623.0,NaN,683.0,810.0,NaN,1381.0,701.0,NaN,806.0,...,NaN,NaN,952.0,NaN,711.0,900.0,NaN,531.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,NaN,1486.0,NaN,4281.0,10722.0,NaN,27560.0,4135.0,NaN,12600.0,...,NaN,NaN,3495.0,NaN,2579.0,2357.0,NaN,2130.0,NaN,NaN
1987,NaN,1230.0,NaN,4294.0,10378.0,NaN,27932.0,4319.0,NaN,14027.0,...,NaN,NaN,3524.0,NaN,2560.0,2299.0,NaN,2137.0,NaN,NaN
1988,NaN,1113.0,NaN,4307.0,9888.0,NaN,28216.0,4455.0,NaN,15441.0,...,NaN,NaN,3558.0,NaN,2523.0,2390.0,NaN,2125.0,NaN,NaN
1989,NaN,1087.0,NaN,4325.0,10115.0,NaN,28449.0,4365.0,NaN,16611.0,...,NaN,NaN,3562.0,NaN,2465.0,2436.0,NaN,2247.0,NaN,NaN
1990,NaN,1028.0,NaN,4350.0,10113.0,NaN,28417.0,4232.0,NaN,17154.0,...,NaN,NaN,3441.0,NaN,2407.0,2532.0,NaN,2013.0,NaN,NaN
1991,NaN,1022.0,NaN,3081.0,9748.0,NaN,28029.0,4056.0,NaN,17361.0,...,NaN,NaN,3482.0,NaN,2348.0,2604.0,NaN,2089.0,NaN,NaN
1992,NaN,941.0,NaN,2877.0,9693.0,NaN,27218.0,3656.0,NaN,17226.0,...,NaN,NaN,3578.0,NaN,2253.0,2316.0,NaN,2137.0,NaN,NaN
1993,NaN,810.0,NaN,3172.0,9279.0,NaN,26011.0,2663.0,NaN,17753.0,...,NaN,NaN,3536.0,NaN,2351.0,2292.0,NaN,2141.0,NaN,NaN
1994,NaN,725.0,NaN,3457.0,9006.0,NaN,25907.0,2669.0,NaN,18400.0,...,NaN,NaN,3598.0,NaN,2098.0,2456.0,NaN,2125.0,NaN,NaN
1995,NaN,872.0,NaN,3941.0,9168.0,NaN,26143.0,2859.0,NaN,17167.0,...,NaN,NaN,3644.0,NaN,2106.0,2416.0,NaN,2132.0,NaN,NaN
1996,NaN,895.0,NaN,4326.0,9375.0,NaN,27180.0,3091.0,NaN,17830.0,...,NaN,NaN,3676.0,NaN,2180.0,2619.0,NaN,2183.0,NaN,NaN
1997,NaN,921.0,NaN,3909.0,9322.0,NaN,29729.0,3246.0,NaN,18186.0,...,NaN,NaN,3746.0,NaN,2203.0,2645.0,NaN,2338.0,NaN,NaN
1998,NaN,947.0,NaN,4434.0,9646.0,NaN,30819.0,3376.0,NaN,18483.0,...,NaN,NaN,3857.0,NaN,2136.0,2680.0,NaN,2407.0,NaN,NaN
1999,NaN,972.0,NaN,4912.0,9810.0,NaN,31940.0,3389.0,NaN,18780.0,...,NaN,NaN,3892.0,NaN,2176.0,2625.0,NaN,2518.0,NaN,NaN
2000,NaN,962.0,NaN,5305.0,9885.0,NaN,31662.0,3387.0,NaN,19319.0,...,NaN,NaN,4017.0,NaN,2202.0,2521.0,NaN,2684.0,NaN,NaN
2001,NaN,862.0,NaN,5730.0,10203.0,NaN,31794.0,3417.0,NaN,18388.0,...,NaN,NaN,4053.0,NaN,2260.0,2540.0,NaN,2769.0,NaN,NaN
2002,NaN,1053.0,NaN,5913.0,10634.0,NaN,31866.0,3759.0,NaN,18676.0,...,NaN,NaN,4094.0,NaN,2304.0,2304.0,NaN,2855.0,NaN,NaN
2003,NaN,1097.0,NaN,6274.0,11251.0,NaN,34500.0,3819.0,NaN,19566.0,...,NaN,NaN,4129.0,NaN,2403.0,1908.0,NaN,2976.0,NaN,NaN
2004,NaN,1067.0,NaN,6672.0,11575.0,NaN,36330.0,4087.0,NaN,20395.0,...,NaN,NaN,4177.0,NaN,2507.0,1794.0,NaN,3045.0,NaN,NaN
2005,NaN,1146.0,NaN,7075.0,12077.0,NaN,39787.0,4667.0,NaN,21414.0,...,NaN,NaN,4295.0,NaN,2620.0,1689.0,NaN,3221.0,NaN,NaN
2006,NaN,1173.0,NaN,7476.0,12088.0,NaN,42738.0,5445.0,NaN,24016.0,...,NaN,NaN,4320.0,NaN,2752.0,1629.0,NaN,3455.0,NaN,NaN
2007,NaN,1298.0,NaN,7977.0,12289.0,NaN,43442.0,6453.0,NaN,26008.0,...,NaN,NaN,4354.0,NaN,2901.0,1568.0,NaN,3756.0,NaN,NaN
2008,NaN,1311.0,NaN,8644.0,12314.0,NaN,41426.0,7103.0,NaN,25736.0,...,NaN,NaN,4420.0,NaN,3039.0,1286.0,NaN,3776.0,NaN,NaN
2009,NaN,1548.0,NaN,8994.0,12285.0,NaN,41735.0,7039.0,NaN,22389.0,...,NaN,NaN,4494.0,NaN,3224.0,1352.0,NaN,3799.0,NaN,NaN
2010,NaN,1637.0,NaN,9374.0,12494.0,NaN,38982.0,7047.0,NaN,20567.0,...,NaN,NaN,4534.0,NaN,3451.0,1484.0,NaN,3838.0,NaN,NaN
2011,NaN,1695.0,NaN,9640.0,12606.0,NaN,41958.0,7094.0,NaN,19988.0,...,NaN,NaN,3761.0,NaN,3557.0,1626.0,NaN,3505.0,NaN,36327.0
2012,NaN,1893.0,NaN,9811.0,12779.0,NaN,41926.0,7230.0,NaN,20577.0,...,NaN,NaN,3765.0,NaN,3678.0,1750.0,NaN,1810.0,NaN,NaN
2013,NaN,1884.0,NaN,9961.0,12893.0,NaN,43735.0,7488.0,NaN,20353.0,...,NaN,NaN,3832.0,NaN,3800.0,1773.0,NaN,1965.0,NaN,NaN
2014,NaN,1877.0,NaN,10160.0,13179.0,NaN,44929.0,7546.0,NaN,20797.0,...,NaN,NaN,3866.0,NaN,3898.0,1773.0,NaN,2574.0,NaN,NaN
2015,NaN,1925.0,NaN,10620.0,13434.0,NaN,46577.0,7615.0,NaN,21049.0,...,NaN,NaN,3887.0,NaN,4034.0,1801.0,NaN,3047.0,NaN,NaN

In [20]:
year = 2000

In [21]:
plt.plot(subplots=True)

NameError: name 'plt' is not defined

In [22]:
import matplotlib.pyplot as plt

In [23]:
plt.plot(subplots=True)

[]

In [24]:
plt.hist(income.ix[year].dropna().values, bins = 20)

IndexError: index 2000 is out of bounds for axis 0 with size 262

In [25]:
import numpy as np
import datetime as dt
import numpy.linalg as lin

In [26]:
    from matplotlib import rcParams

In [27]:
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

In [28]:
rcParams['figure.figsize'] = (10, 6)
rcParams['figure.dpi'] = 150
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 2
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 14
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

/usr/local/python3/lib/python3.5/site-packages/matplotlib/__init__.py:913: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))